<h1><%= link_to @task.name, task_path %></h1>
<h3><%= priority_stars(@task.priority) %></h3>
<h4><%= link_to "back", tasks_path %></h4>
<h5><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></h5>
<h5><%= link_to "Update", edit_task_path(@task), method: :get %></h5>